body{
	margin: 0;
	position: relative;
}
#bloqueIzquierda{
	position: fixed;
	left: 0;
	top: 0;
	width: 80px;
	height: 663px;
	background-color: darkgray;
	
}
#video{
	position: relative;
	right: 0;
}
#titulo{
	position: absolute;
	top: 40%;
	left: 38%;
	background-color: white;
	padding: 50px 100px;
	opacity: 0.5;
}