body{
	margin: 0;
}
#bloqueIzquierda{
	position: fixed;
	left: 0;
	top: 0;
	width: 80px;
	height: 663px;
	background-color: black;
	
}
#imgInicio{
	background-image: url(../img/manos.gif);
	background-size: 100% 520px;
	width: 100%;
	height: 520px;
	position: absolute;
}
#titulo{
	position: absolute;
	top: 40%;
	left: 38%;
	background-color: aqua;
	padding: 50px 100px;
	opacity: 0.5;
	
}