@import 'https://fonts.googleapis.com/css?family=Bangers';
body{
	margin: 0;
	position: relative;
}
#parteDerecha{
	width: 100%;
	margin-left: 80px;
}
#bloqueIzquierda{
	position: fixed;
	left: 0;
	top: 0;
	width: 80px;
	height: 663px;
	background-color: white;
}
#logo{
	transform:rotate(270deg);
	position: absolute;
	width: 250px;
	height: 80px;
	top:40%;
	left:-85px;
}
#video{
	position: relative;
	right: 0;
}
/*Parte de discos*/
#disco0{
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background-color: black;
	position: relative;
	margin: 0 auto;
	border:13px solid aquamarine;
	margin-bottom: 50px;
}
#seccionPrimera{
	text-align: center;
	padding: 140px 0;
	background-color: black;
}
#disco0 p{
	color: aquamarine;
	font-size: 40px;
	word-wrap: break-word;
	position: absolute;
	font-family: fantasy;
	text-align: center;
	top: 100px;
}
.discos{
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
	display: inline-block;
	border-radius: 50%;
	margin: 10px;
}
#disco1{
	background-image: url(../img/heymama.jpg);
}
#disco2{
	background-image: url(../img/bangarang.jpg);
}
#disco3{
	background-image: url(../img/familyguy.jpg);
}
#disco4{
	background-image: url(../img/toulouse.jpg);
}
#disco5{
	background-image: url(../img/winterbreak.jpg);
}
#disco6{
	background-image: url(../img/runwild.jpg);
}

.img{
	max-width:100%; 
	height: 200px;	
	display: flex;
}
#frase{
	font-size: 95px;
}
.no{
	display: none;
}
.si{
	display: block;
}
.frase  {
	padding:10% 80px;
	font-family: "Bangers";
}


/*formulario*/
.seccion-formulario{
	margin-top: 60px;
}

form{
	margin: 123px auto;
	width: 350px;
	background: rgba(0, 0, 0, 0.60); 
    padding: 35px;
    border-radius: 10px;
    text-align: center;
	font-family: "Arial";
}

.inputs-form {
	padding: 7px;
    border-radius: 5px;
    border: none;
    width: 230px;
    margin: 16px auto;
    display: block;
    height: 25px;
}

#textarea-form{
	padding: 7px;
    border-radius: 5px;
    border: none;
    width: 230px;
    margin: 16px auto;
    display: block;
	font-family: "Arial";
}

#titulo-form-contacto {
	color: white;
    font-size: 44px;
}

/*Alertas de Error*/
.input-box {
  position: relative;
}

.inputs-form {
	padding: 7px;
    border-radius: 5px;
    border: none;
    width: 230px;
    margin: 16px auto;
    display: block;
    height: 25px;
}

#textarea-form{
	padding: 7px;
    border-radius: 5px;
    border: none;
    width: 230px;
    margin: 16px auto;
    display: block;
}

#boton {
	background: rgba(3, 107, 158, 0.90);
    color: white;
    padding: 14px 21px;
    width: 240px;
    margin: 12px auto;
    display: block;
    border: none;
    border-radius: 3px;
    font-size: 16px;
	font-family: "Arial";

}
#titulo-form-contacto {
	color: white;
    font-size: 44px;
}

.mostrar{
  display: block;
  background-color: rgba(51,51,51,0.8);
  padding: 5px;
  position: absolute;
  left: 88%;
  top: 8px;
  width: 200px;
  color: white;
}

.ocultar{
  display: none;
  background-color: rgba(51,51,51,0.8);
  padding: 5px;
  position: absolute;
  left: 88%;
  top: 8px;
  width: 200px;
  color: white;
}

.input-box span:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid rgba(51,51,51,0.8);
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 100%;
  top: 10px;
}